doctype html

html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/normalize.css')
        //- Jquery
        script(type="text/javascript" src="/javascripts/jquery-3.1.0.min.js")
        //- Jquery color plugin
        script(type="text/javascript" src="/javascripts/jquery.color-2.1.2.min.js")
        //- Custom javascript for weekend traveler
        script(type="text/javascript" src="/javascripts/custom.js")
    body
        block content
